<main  class="o-wrapper" *ngIf="processes$ | async as processes">

  <header class="c-title u-margin-bottom">
    <h4 class="u-margin-right-small">Wszystkie procesy</h4>
  </header>

  <mat-nav-list class="u-margin-bottom-large">
    <h3 matSubheader>Aktualne procesy</h3>
    <ng-container *ngFor="let process of processes">
      <a mat-list-item [routerLink]="['/processes/', process.key]">
        <span matLine>{{ process.name }}</span>
        <span matLine>Postęp {{ process.progress || '0'}}%</span>
        <button mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </a>
      <mat-divider></mat-divider>
    </ng-container>
    <a role="button" color="primary" mat-list-item (click)="onCreateProcess()">
      <span matLine>Nowy process</span>
      <button mat-icon-button color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </a>
  </mat-nav-list>

</main>

<router-outlet></router-outlet>