<main  class="o-wrapper">

  <header class="c-title u-margin-bottom">
    <h4 class="u-margin-right-small">Wszystkie procesy</h4>
  </header>

  <mat-nav-list class="u-margin-bottom-large">
    <h3 matSubheader>Aktualne procesy</h3>
    <ng-container *ngFor="let process of processes">
      <a mat-list-item [routerLink]="['/processes/', process.id]">
        <span matLine>{{ process.name }}</span>
        <span matLine>W trakcie (40%)</span>
        <button mat-icon-button (click)="onRemove($event)">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </a>
      <mat-divider></mat-divider>
    </ng-container>
    <a mat-list-item [routerLink]="['/processes/', 'add']">
      <span matLine>Nowy process</span>
      <button mat-icon-button (click)="onRemove($event)">
        <mat-icon>add</mat-icon>
      </button>
    </a>
  </mat-nav-list>

  <mat-nav-list>
    <h3 matSubheader>Zarchiwizowane procesy</h3>
    <ng-container *ngFor="let process of processes">
      <a mat-list-item [routerLink]="['/processes/', process.id]">
        <span matLine>{{ process.name }}</span>
        <span matLine>W trakcie (40%)</span>
        <button mat-icon-button (click)="onRemove($event)">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </a>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-nav-list>

</main>

<router-outlet></router-outlet>