.c-login {
  display: flex;
  flex-direction: row;
  z-index: 1000;
  height: 100vh;

  position: relative;
  overflow: hidden;

  background-color: #EAEAEC;

  &__image {
    // background-image: url("../../../assets/images/register_background.svg");
    background-image: url("../../../../assets/images/login_background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 600px);
    height: 100%;
    min-height: 512px;
    transform: translate(30%, 0);

    opacity: 0;
    
    animation: fadeIn 450ms 0ms ease-in both, moveLeft 450ms 450ms ease-in-out both;
  }
  &__form {
    background-color: #fafafa;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 0 0.75vw 1.5vw 0 rgba(6, 0, 35, 0.05) !important;
    transition: transform 250ms ease-in-out;
    transform: translate(100%, 0);
    animation: slide 450ms 500ms ease-in-out both;

    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    min-height: 512px;
    width: 600px;

    padding: 0 24px;

    form {
      width: 320px;
      flex-grow: 1;
    }

    transition: transform 250ms ease-in-out;
    transform: translate(100%, 0);
    animation: slide 450ms 600ms ease-in-out both;
  }

  .c-login-button,
  .c-register-button {
    width: 100% !important;
    min-width: unset !important;
    line-height: 48px;
  }

  .c-forgot-password-button {
    color: #BA68C8;
    font-size: 1.4rem;
  }

  footer {
    .c-footer-nav {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      height: 56px;
  
      margin: 0;
  
      &__spacer {
        color: #BA68C8;
        font-size: 24px;
        margin: 0 8px
      }
  
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveLeft {
  0% {
    transform: translate(30%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
