<app-main-component class="u-padding-bottom-huge" *ngIf="process$ | async as process">

  <div class="c-section-header">
    <div class="o-wrapper">
      <header class="c-section-header__title">
        <img class="c-section-header__image u-margin-right" src="../../../../assets/images/{{ process.image }}"
          alt="logo" style="width: 42px">
        <h4 class="c-section-header__caption u-margin-right-small">{{ process.name }}</h4>
        <button mat-icon-button color="accent" matTooltip="Szczegóły procesu">
          <mat-icon>info</mat-icon>
        </button>

        <div class="c-section-header__actions-right o-block o-block--right">
          <a mat-button [routerLink]="['../']">
            <mat-icon class="u-margin-right-tiny">arrow_back</mat-icon>
            Wróć do listy
          </a>
        </div>
      </header>

      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">
          {{link.label}}
        </a>
      </nav>
    </div>
  </div>


  <div class="c-section-content">
    <router-outlet></router-outlet>
  </div>

</app-main-component>