.c-app-header__toolbar {
  background-color: #fafafa;
  transition: all 250ms ease-in;

  > .mat-toolbar-row {
    height: 72px;
  }
}

::ng-deep .mat-menu-panel {
  max-width: none !important;
}

.c-app-header {
  box-shadow: 0 0.75vw 1.5vw 0 rgba(6, 0, 35, 0.05) !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.c-body {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
}
