
table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-index {
  width: 40px;
}

.c-header-cell,
.c-row-cell {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding-right: 8px;
}

.mat-icon.mat-green {
  color: #4CAF50;
}

.mat-icon.mat-gray {
  color: #616161;
}

::ng-deep .u-is-completed {
  &.mat-column-name {
    text-decoration: line-through !important;
  }
}