
table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-index {
  width: 32px;
}

.c-header-cell,
.c-row-cell {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding-right: 8px;
}

.mat-button-base.mat-green,
.mat-icon.mat-green {
  color: #4CAF50;
}

.mat-icon.mat-gray {
  color: #616161;
}

::ng-deep .u-is-completed {
  &.mat-column-name {
    text-decoration: line-through !important;
  }
}

.c-mat-drawer {
  background-color: #fff;
  border-left: 1px solid #e8ecee;
  border-top: 1px solid #e8ecee;
  bottom: 0;
  box-shadow: 0 5px 20px 0 rgba(21,27,38,.08);
  display: flex;
  flex-direction: column;
  right: 0;
  max-width: 640px;
  position: absolute;
  top: 0;
  transition: .2s ease-in;
  width: 60%;
  z-index: 600;
  transform: scale(0, 1);
  transform-origin: right;

  transition: transform 250ms ease-in-out;

  &.u-is-open {
    transform: scale(1,1);
  }
}

.u-is-selected {
  background-color: whitesmoke;
}

.u-is-open {
  .c-mat-drawer__content {
    transition: opacity 250ms ease-in-out;
    transition-delay: 250ms;
    opacity: 1;
  }
}


.c-mat-drawer {
  &__content {
    opacity: 0;
  }
  &__header,
  &__body,
  &__footer {
    padding: 16px;
  }
  &__header {
    display: flex;
    align-items: center;
  }
  &__header-actions--right,
  &__footer-actions--right {
    flex-grow: 1;
  }
}

.u-text {
  &-bold {
    font-weight: 600;
  }
}