<section class="o-block o-block--right u-margin-bottom-small">
  <button mat-button color="accent" [matMenuTriggerFor]="filterMenu" class="u-margin-left-small">
    <mat-icon class="u-margin-right-tiny">filter_list</mat-icon>
    Filtruj</button>
  <mat-menu #filterMenu="matMenu">
    <button mat-menu-item>Wszystkie</button>
    <button mat-menu-item>Tylko moje</button>
    <button mat-menu-item>Przeterminowane</button>
  </mat-menu>
  <button mat-button color="accent" [matMenuTriggerFor]="sortMenu" class="u-margin-left-small">
    <mat-icon class="u-margin-right-tiny">swap_vert</mat-icon>
    Sortuj</button>
  <mat-menu #sortMenu="matMenu">
    <button mat-menu-item>Nazwa</button>
    <button mat-menu-item>Osoba przypisana</button>
    <button mat-menu-item>Termin</button>
    <button mat-menu-item>Priorytet</button>
  </mat-menu>
  <button mat-button color="accent" [matMenuTriggerFor]="sortMenu" class="u-margin-left-small">
    <mat-icon class="u-margin-right-tiny">view_columns</mat-icon>
    Kolumny</button>
  <mat-menu #sortMenu="matMenu">
    <button mat-menu-item>Nazwa</button>
    <button mat-menu-item>Osoba przypisana</button>
    <button mat-menu-item>Termin</button>
    <button mat-menu-item>Priorytet</button>
  </mat-menu>
</section>

<section class="u-margin-bottom">
  <table mat-table [dataSource]="dataSourceAllTasks">
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef> #</th>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        <div class="c-header-cell">
          <span>Nazwa zadania</span>
        </div>
      </th>
    </ng-container>
    <ng-container matColumnDef="assignee">
      <th mat-header-cell *matHeaderCellDef class="u-border-left u-padding-left-small u-padding-right-small">
        <div class="c-header-cell">
          <span>Osoba przypisana</span>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="headerCellMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #headerCellMenu="matMenu">
              <button mat-menu-item>Sortuj</button>
              <button mat-menu-item>Usuń z tabeli</button>
              <button mat-menu-item [matMenuTriggerFor]="widths">Ustaw szerokość</button>
            </mat-menu>
            
            <mat-menu #widths="matMenu">
              <button mat-menu-item>Wąska</button>
              <button mat-menu-item>Szeroka</button>
            </mat-menu>
          </div>
        </div>
      </th>
    </ng-container>
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef class="u-border-left u-padding-left-small u-padding-right-small">
        <div class="c-header-cell">
          <span>Termin</span>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="headerCellMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #headerCellMenu="matMenu">
              <button mat-menu-item>Sortuj</button>
              <button mat-menu-item>Usuń z tabeli</button>
              <button mat-menu-item [matMenuTriggerFor]="widths">Ustaw szerokość</button>
            </mat-menu>
            
            <mat-menu #widths="matMenu">
              <button mat-menu-item>Wąska</button>
              <button mat-menu-item>Szeroka</button>
            </mat-menu>
          </div>
        </div>
      </th>
    </ng-container>
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef class="u-border-left u-padding-left-small u-padding-right-small"> 
        <div class="c-header-cell">
          <span>Priorytet</span>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="headerCellMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #headerCellMenu="matMenu">
              <button mat-menu-item>Sortuj</button>
              <button mat-menu-item>Usuń z tabeli</button>
              <button mat-menu-item [matMenuTriggerFor]="widths">Ustaw szerokość</button>
            </mat-menu>
            
            <mat-menu #widths="matMenu">
              <button mat-menu-item>Wąska</button>
              <button mat-menu-item>Szeroka</button>
            </mat-menu>
          </div>
        </div>
      </th>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
  </table>
</section>

<ng-container *ngFor="let item of dataSourceTasksBySections">
  <section class="u-margin-bottom-large">
    <header class="u-margin-bottom-small">
      <h5>{{ item.section }}</h5>
    </header>
    <table mat-table [dataSource]="item.tasks">
      <ng-container matColumnDef="index">
        <td mat-cell *matCellDef="let element; let index = index"> {{ index + 1 }} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <td mat-cell
          *matCellDef="let element"
          class="u-border-right"
          [ngClass]="{ 'u-is-completed': element.isCompleted }">
          <div class="c-row-cell">
            <span>
              <button mat-icon-button (click)="onToggleCompleted(element)">
                <mat-icon [color]="element.isCompleted ? 'green' : 'gray'">check_circle_outline</mat-icon>
              </button>
              {{ element.name }}</span>
            <div>
              <button mat-icon-button>
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="assignee">
        <td mat-cell *matCellDef="let element" class="u-border-left u-padding-left-small u-padding-right-small"> {{ element.assignee }} </td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <td mat-cell *matCellDef="let element" class="u-border-left u-padding-left-small u-padding-right-small"> {{ element.endDate | date:'dd/MM/yyyy' }} </td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <td mat-cell *matCellDef="let element" class="u-border-left u-padding-left-small u-padding-right-small"> {{ element.priority }} </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
</ng-container>