.mat-button-base.mat-green,
.mat-icon.mat-green {
  color: #4CAF50;
}

.mat-icon.mat-gray {
  color: #616161;
}

::ng-deep .u-is-completed {
  &.mat-column-name {
    text-decoration: line-through !important;
  }
}

.u-is-selected {
  background-color: whitesmoke;
}

.u-text {
  &-bold {
    font-weight: 600;
  }
}

::ng-deep .u-hidden-datepicker {
  width: 1px;
  visibility: hidden;
  position: absolute !important;
  z-index: -1;
}

::ng-deep .mat-dialog-title {
  display: flex;
  justify-content: space-between;
}

::ng-deep .mat-dialog-actions {
  margin-bottom: -12px;
}