
<main class="c-login">
  <div class="c-login__image"></div>
  <div class="c-login__form">
    <div class="u-margin-bottom" style="flex-grow: 1; display: flex; align-items: flex-end;">
      <img src="../../../assets/images/logo.svg" alt="logo" style="height: 48px;">
    </div>
    <form [formGroup]="loginForm" class="u-text-normal" (ngSubmit)="onLogin()" #form>
      <div class="o-grid">
        <div class="o-grid__cell u-1/1">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Użytkownik</mat-label>
            <input matInput formControlName="email" #userName>
            <mat-error>Pole wymagane.</mat-error>
          </mat-form-field>
        </div>
        <div class="o-grid__cell u-1/1 o-block o-block--right" style="margin-top: -8px;">
          <a class="c-forgot-password-button" [routerLink]="['./password-reset']">Resetuj hasło</a>
        </div>
        <div class="o-grid__cell u-1/1 u-margin-bottom-small">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Hasło</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error>Pole wymagane.</mat-error>
          </mat-form-field> 
        </div>
        <div class="o-grid__cell u-1/1 u-margin-bottom">
          <button
            type="submit"
            mat-raised-button color="primary" 
            [disabled]="loginForm.invalid"
            class="c-login-button">
            <span class="u-margin-right-tiny">ZALOGUJ</span>
          </button>
        </div>
        <!-- <div class="o-grid__cell u-1/1 o-block u-margin-bottom-huge">
          <a class="c-forgot-password-button" [routerLink]="['./forgot-password']">Nie pamiętam hasła</a>
        </div> -->
        <div class="o-grid__cell u-1/1 u-margin-bottom">
          <a role="button" [routerLink]="['./register']"
          mat-button color="primary" 
          class="c-register-button">ZAREJESTRUJ SIĘ</a>
        </div>
      </div>
    </form>
    <footer>
      <ul class="c-footer-nav">
        <li>
          <a href="https://work-smarter.pl" target="_blank" mat-button color="accent">work-smarter.pl</a>
        </li>
        <li>
          <span class="c-footer-nav__spacer">&#8226;</span>
        </li>
        <li>
          <a href="" mat-button color="accent">Regulamin</a>
        </li>
        <li>
          <span class="c-footer-nav__spacer">&#8226;</span>
        </li>
        <li>
          <a href="" mat-button color="accent">Pomoc</a>
        </li>
      </ul>
    </footer>
  </div>
</main>